
// _grid-settings.scss
@import "neat/neat-helpers";

// Change the grid settings
$visual-grid: false;
$visual-grid-color: red;
$gutter: .5em;
$grid-columns: 12;
$max-width: 1200px;
$visual-grid-index: front;
$visual-grid-opacity: 0.05;