//////////////////////////////////////////////////////
//HERO BANNER JOURNEY
//////////////////////////////////////////////////////
.jr-claim {
  h1 {
    .before {
      width: 340px;
      height: 44px;
      position: absolute;
      display: none;
      background: transparent url('../images/ui/headings/journey/ornaments-journey-1.svg') left top no-repeat;

      @include media($m) {
        display: block;
        bottom: -2rem;
        left: 0;
      }
      @include media($l) {
        bottom: -3rem;
        left: 0;
      }
    }
    .after {
      width: 420px;
      height: 45px;
      position: absolute;
      display: none;
      background: transparent url('../images/ui/headings/journey/ornaments-journey-2.svg') left top no-repeat;

      @include media($m) {
        display: block;
        top: -2.5rem;
        right: -2rem;
      }
      @include media($l) {
        top: -2rem;
        right: -2rem;
      }
    }
  }
}
.journey-post-section {
  @include media($m) {
    margin-top: 0rem;
  }
}
