//// Post
.at-content {
	width: 100%;
	position: relative;
	padding: 0rem 1rem;
	height: auto;
	min-height: 200px;
	margin: 0 auto;
	overflow: hidden;

	//MEDIA QUERY
	@include media($m) {
		padding: 1rem 0;
	}
	@include media($l) {
		padding: 2rem 0 0 0;
	}
	.sharing-block {
		width: 100%;
		display: block;
		padding-top: 1rem;
		color: $grey;

		//MEDIA QUERY
		@include media($m) {
			width: 280px;
			position: absolute;
			padding-top: 0;
			transform: rotate(90deg);
			left: -5.5rem;
			top: 9.3rem;
		}
		span {
			display: inline-block;
			width: 30px;
			margin: 0 1rem;

			img {
				width: 100%;
			}
		}
		a {
			margin-right: .5rem;
			color: $light-grey;

			&.facebook:hover {
				color: #3b5998;
			}
			&.twitter:hover {
				color: #1da1f2;
			}
			&:before {
				display: none;
			}
		}
	}
	.at-date-block {
		width: 100%;
		height: 40px;
		display: block;
		margin: 0 auto;
		margin-top: 2rem;
		@include rubik(500, 1rem);
		color: $black-6;

		//MEDIA QUERY
		@include media($m) {
			max-width: 600px;
			margin-top: 0;
		}
	}
	article {
		max-width: 768px;
		display: block;
		position: relative;
		margin: 0 auto;
		padding: 0 0 3rem 0;

		//MEDIA QUERY
		@include media($m) {
			padding: 2rem 0 3rem 0;
		}
		@include media($l) {
			padding: 0 0 3rem 0;
		}
		h1, h2, h3, h4, h5, h6, p, ul {
			width: 100%;
			margin-left: 0;

			//MEDIA QUERY
			@include media($m) {
				max-width: 600px;
				margin-left: 84px;
			}
		}
		figure {
			width: 100%;
			margin: 2rem 0;

			//MEDIA QUERY
			@include media($m) {
				max-width: calc(768px - 132px);
				margin: 3rem auto;
			}
			@include media($l) {
				max-width: 680px;
				margin: 4rem auto;
			}
			img {
				width: 100%;
				height: auto;
				border-radius: $radius;
				box-shadow: $shadow;
			}
		}
	}
}
#at-mobile {
	display: block;
}
// –––––––––––––– Gallery

.at-gallery {
	border-top: 1px solid $dividers;
	padding: 2rem 0;
	background: darken(white, 2);

	//MEDIA QUERY
	@include media($m) {
		padding: 4rem 0;
		border-top: none;
	}
	@include media($l) {
		padding: 6rem 0;
	}
}
.slick-slide {
	max-width: 320px;
	padding: 0 1rem;
	cursor: pointer;

	//MEDIA QUERY
	@include media($m) {
		max-width: 636px;
		padding: 0 2rem;
	}
	@include media($l) {
		max-width: 700px;
	}
	img {
		width: 100%;
		height: auto;
		border-radius: $radius;
		box-shadow: $shadow;
	}
	&:focus {
		outline: none;
	}
}
// –––––––––––––– Footer Next

footer.at-next {
	background: $dark-grey;
	margin: 0;
	padding: 0;
	padding-bottom: 3rem;
	height: auto;
	min-height: 0;
	transition: all .3s;

	&:hover {
		color: white;
		transition: all .3s;
	}

	.at-next-copy {
		display: block;
		@include rubik(500, 1rem);
		padding-bottom: 0;
		opacity: .7;
		color: white;
	}
	.h1:after{
		height:60px;
		bottom: -80px;
	}
}
// –––––––––––––– Specific gradients
footer.blue-grad {
	background: $dark-grey;

	&:hover {
		background-color: $blue;
	}
}
footer.brown-grad {
	background: $dark-grey;

	&:hover {
		background-color: $brown;
	}
}
footer.green-grad {
	background: $dark-grey;

	&:hover {
		background-color: $green;
	}
}