//////////////////////////////////////////////////////
//PROGRESS BAR
//////////////////////////////////////////////////////
progress {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  color: $pink;
  z-index: 999;
  opacity: .8;
  display: none;
  @include media($l) {
    display: block;
  }
}
progress::-webkit-progress-bar {
  background-color: transparent;
}
progress::-webkit-progress-value {
  background-color: $pink;
}
progress::-moz-progress-bar {
  background-color: $pink;
}
.progress-container {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: 2px;
  display: block;
}
.progress-bar {
  background-color: $pink;
  width: 50%;
  display: block;
  height: inherit;
}
//////////////////////////////////////////////////////
//POST
//////////////////////////////////////////////////////
.at-content {
  width: 100%;
  position: relative;
  height: auto;
  min-height: 200px;
  margin: 0 auto;
  overflow: hidden;
  @include border-box;

  @include media($m) {
    padding: 1rem 0 0 0;
  }
  @include media($l) {
    padding: 2rem 0 0 0;
  }
  .at-date-block {
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    @include rubik(500, 1rem);
    color: $black-6;

    @include media($m) {
      max-width: 600px;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    span {
      height: 2rem;
      display: none;
      margin-right: .3rem;
      display: none;

      @include media($s) {
        display: inline-block;
      }

      @include media($m) {
        margin-right: .5rem;
        display: inline-block;
      }
      img {
        height: 100%;
        margin-top: -3px;
      }
    }
  }
  article {
    max-width: 768px;
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 0 1rem 1rem 1rem;

    @include media($m) {
      padding: 2rem 0 1rem 0;
    }
    @include media($l) {
      padding: 0 0 2rem 0;
    }
    h1, h2, h3, h4, h5, h6, p, ul, hr, .disclaimer {
      width: 100%;
      margin-left: 0;

      @include media($m) {
        max-width: 600px;
        margin-left: 84px;
      }
    }
    h2 {
      padding: 1rem 0 0 0;
    }
    h3 {
      padding: 0rem 0 .5rem 0;
    }
    ul {
      @include border-box;
      padding-left: 1rem;
      margin-bottom: 2rem;

      li {
        position: relative;
        margin-bottom: .5rem;

        &:before {
          content: '–';
          color: inherit;
          position: absolute;
          left: -1rem;
          font-weight: 500;
        }
      }
    }
    hr {
      border-color: $dividers;
      margin-top: 2rem;
    }
    a {
      color: $pink;
      position: relative;

      &:after {
        content: '';
        height: 2px;
        display: block;
        position: absolute;
        background: $pink;
        bottom: -2px;
        transition: all .3s;
        border-radius: $radius;
      }
      &:after {
        width: 0%;
        left: 0;
      }
      &:hover:after {
        width: 100%;
        transition: all .3s;
      }
    }
    figure {
      width: 100%;
      margin: 2rem 0;

      @include media($m) {
        max-width: calc(768px - 132px);
        margin: 3rem auto;
      }
      @include media($l) {
        max-width: 680px;
        margin: 4rem auto;
      }
      img {
        width: 100%;
        height: auto;
        border-radius: $radius;
        box-shadow: $shadow;
      }
    }
  }
  .disclaimer {
    p {
      @include open(400, .6rem);
      line-height: 1.66;
      color: $black-3;
      margin: 0;
    }
  }
}
#at-mobile {
  display: block;
}
.sharing-block {
  width: 100%;
  display: none;
  padding-top: 1rem;
  color: $grey;
  @include rubik(400, 1rem);

  @include media($m) {
    display: block;
    width: 380px;
    position: absolute;
    padding-top: 0;
    transform: rotate(90deg);
    left: -7.5rem;
    top: 11.5rem;
  }
  @include media($l) {
    left: -8.5rem;
    top: 9rem;
  }
  span{
    display: none;
    @include media($s) {
      display: inline-block;
    }
  }
  span.sharing-line{
    margin: 0 .5rem;
    @include media($s) {
      width: 10px;
    }
    @include media($m) {
      width: 30px;
      margin: 0 1rem;
    }
    img {
      width: 100%;
    }
  }
  a {
    margin-right: 1rem;
    color: $grey !important;

    @include media($m) {
      margin-right: .5rem;
    }

    &.facebook ,&.facebook:hover {
      color: #3b5998 !important;
    }
    &.facebook:after {
      background: #3b5998 !important;
    }
    &.twitter, &.twitter:hover {
      color: #1da1f2 !important;
    }
    &.twitter:after {
      background: #1da1f2 !important;
    }
  }
}
// –––––––––––––– Share & Tags
.at-share-categories {
  margin: 0 auto;
  padding-top: 0rem;

  @include media($m) {
    max-width: 600px;
    padding-top: 1rem;
  }
  .at-share-wrap {
    width: 100%;
    height: auto;
    border-bottom: 1px solid $dividers;
    border-top: 1px solid $dividers;
  }
  .sharing-block {
    display: block;
    position: relative;
    transform: none;
    top: 0;
    left: 0;
    padding: 1rem 0;

    @include media($m) {
      padding: 2rem 0;
    }
  }
  .at-tags {
    margin: 0;
    padding: 1rem 0;
    @include border-box;

    @include media($m) {
      padding: 2rem 0;
    }
  }
  .at-tag {
    @include rubik(400, 1rem);
    display: inline-block;
    padding: .2rem .5rem;
    margin-right: .2rem;
    background: $pink;
    border-radius: $radius;
    color: white;
    margin-bottom: .2rem;
    box-shadow: $shadow;

    @include media($m) {
      padding: .2rem .5rem;
    }
    &:before {
      display: none;
    }
  }
}
// –––––––––––––– Gallery

.at-gallery {
  border-top: 1px solid $dividers;
  padding: 0;
  background: #FAFAFA;

  @include media($m) {
    padding: 1rem 0 0 0;
    border-top: none;
  }
  @include media($l) {
    padding: 2rem 0 0 0;
  }
}
.slick-slide {
  max-width: 300px;
  padding: 0 .4rem;
  cursor: pointer;
  @include border-box;

  @include media($m) {
    max-width: 636px;
    padding: 0 2rem;
  }
  @include media($l) {
    max-width: 700px;
  }
  img {
    width: 100%;
    height: auto;
    border-radius: $radius;
    box-shadow: $hard-shadow;
    border: 5px solid white;
    margin: 2rem auto;
    @include border-box;

    @include media($m) {
      margin: 4rem auto;
      border: 10px solid white;
    }
  }
  &:focus {
    outline: none;
  }
}
// –––––––––––––– Related Articles

.at-related {
  width: 100%;
  height: auto;
  min-height: 2rem;
  background: white;
  box-shadow: inset 0 150px 0 #FAFAFA;

  .at-related-wrap {
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    padding-bottom: 3rem;
    @include border-box;
    display: flex;
    flex-flow: row-reverse wrap;
    align-items: flex-start;
    justify-content: space-between;

    @include media($m) {
      padding: 0;
      padding-top: 2rem;
      padding-bottom: 3rem;
      width: 80%;
    }
    @include media($l) {
      width: 65%;
    }
  }
}
.at-card {
  width: 100%;
  height: auto;
  position: relative;
  background: white;
  box-shadow: 0 20px 50px rgba(0, 0, 50, .08);
  border-radius: $radius;
  @include border-box;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 2rem;
  z-index: 1;
  top: 0;
  transition: all .3s;

  @include media($m) {
    width: 48%;
  }
  @include media($l) {
    width: 48%;
  }
  &:hover {
    top: -.5rem;
    box-shadow: 0 30px 50px rgba(0, 0, 50, .05);
    transition: all .3s;
  }
}
.at-card-label {
  @include rubik(500, 1rem);
  color: $pink;
  margin-bottom: .5rem;
}
.at-card-title {
  @include rubik(200, 1.4rem);
  color: $black-7;
  line-height: 1.25;
}
.at-related-prev .at-card-label {
  color: $dark-blue;

  img {
    margin-top: -2px;
    margin-right: .5rem;
  }
}
.at-related-next .at-card-label {
  color: $pink;

  img {
    margin-top: -1px;
    margin-left: .5rem;
  }
}
