<section class="hp-statistics">
  <div class="stat-wrapper">
    <div class="stat stat-50 distance">
      <div class="stat-label">Distance covered:</div>
      <div class="stat-data">27.100 km</div>
      <div class="stat-label">Furthest point from home:</div>
      <div class="stat-data">Shanghai (9.824 km)</div>
    </div>
    <div class="stat stat-25"><div class="temp low-temp">-17 Cº</div></div>
    <div class="stat stat-25"><div class="temp high-temp">43 Cº</div></div>
    <div class="stat stat-50 standard">
      <div class="stat-label">Countries so far:</div>
      <div class="stat-data">Russia, Mongolia, China, Nepal, India.</div>
      <div class="stat-label">Next to come:</div>
      <div class="stat-data">Sri Lanka.</div>
    </div>
    <div class="stat stat-50 standard">
      <div class="stat-label">Latests books read:</div>
      <div class="stat-data">Ghandi - Mi Religión, Un mundo feliz, El nombre de la rosa, El arte de la vida, Inferno, Crónica de una muerte anunciada...</div>
    </div>
    <div class="stat stat-50 standard">
      <div class="stat-label">Songs of the Week:</div>
      <div class="stat-data">Quan calla la ciutat - Txarango. <br> Cool & Deadly – Vibz Cartel.</div>
    </div>
    <div class="stat stat-50 standard">
      <div class="stat-label">Favourite dishes:</div>
      <div class="stat-data">Russian Pilaf, Tibetan cheeseballs, Beijing Duck, Dal bhat.</div>
      </div>
    <div class="stat stat-100 standard">
      <div class="stat-label">Wild & Rare animals we’ve seen:</div>
      <div class="stat-data">Horses, Yaks, Camels, Goats, Sheeps, Suricatas, Gazzeles, Tigers, Linxs, Eagles, Black Pigs, Chinese dogs, Domestic Chinese Cats, Pandas, Indian Cows...</div>
    </div>
  </div>
</section>