
.hp-heading{
	width: 100%;
	height: auto;
	max-height: 900px;
	position: relative;
	background:white;
	padding-bottom: 6rem;
	
	//MEDIA QUERY
	@include media($m) {
		background-image: $blue-gradient;
		padding: 0 2rem;
		height: 100vh;
		box-shadow: inset 0 0 0 10px white; 
	}

	.hp-claim{
		width: 100%;
		height: auto;
		display: block;
		position: relative; 
		padding: 0rem 1rem;
	
  	//MEDIA QUERY
		@include media($m) {
			position: absolute;
			width: 90%;
			padding: 0rem;
			top: 50%;
			left: 2rem;
	  	transform: translateY(-50%);
		}
		@include media($l) {
			width: 85%;
			max-width: 1200px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		h1{
			width: 100%;
			max-width: 600px;
			@include rubik(700,1.8rem);
			color: $black-7;
			margin:0;
			margin-top: 4rem;
			margin-left: -2px;
			line-height: 1;
			@include media($m) {
				&:after{
					content: '';
					width: 100px;
					height: 3px;
					display: block;
					position: absolute;
					border-radius: 10px;
					bottom: -2rem;
					left: 0rem;
					background:white;
					//MEDIA QUERY
					@include media($l) {
						left: 1rem;
					}
				}
			}
			//MEDIA QUERY
			@include media($m) {
				@include rubik(700,2.1rem);
				max-width: 500px;
				color: white;
				margin-top: 0rem;
			}
			@include media($l) {
				max-width: 600px;
				padding-left: 1rem;
			}
		}
	}
	.hp-image-block{
		display: none;
		width: 55%;
		height: 100%;
		position: absolute;
		right: 0;
		top: 30vh;
		overflow: hidden;
		//MEDIA QUERY
		@include media($m) {
			display: block;
		}
		@include media($l) {
			display: block;
			right: 0;
		}
	
		.image-wrap{
			position: relative;
			.img{
				box-shadow: $shadow;
				border-radius: $radius;
				transition: all .3s;
			}
			.image-1{
				width: 400px;
				height: 280px;
				position: absolute;
				display: block;
				background: $yellow url("../images/header/01.jpg") center center no-repeat;
				background-size: cover;
				left: 25%;
				top: 0;
				//MEDIA QUERY
				@include media($m) {
					left: 35%;
					top: 0;
				}
				@include media($l) {
					left: 28%;
					top: 0;
				}
			}
			.image-2{
				width: 330px;
				height: 280px;
				position: absolute;
				display: block;
				background: $blue url("../images/header/02.jpg") center center no-repeat;
				background-size: cover;
				left: 5%;
				top: 300px;
				//MEDIA QUERY
				@include media($m) {
					left: 10%;
					top: 300px;
				}
				@include media($l) {
					left: 5%;
					top: 300px;
				}
			}
			.image-3{
				display: none;

				//MEDIA QUERY
				@include media($m) {
					width: 400px;
					height: 280px;
					position: absolute;
					display: block;
					background: $red url("../images/header/03.jpg") center center no-repeat;
					background-size: cover;
					left: 400px;
					top: 330px;
				}
				@include media($l) {
					left: 390px;
					top: 350px;
				}
			}
		}
	}
}

// Home-Post Typography
h2.hp-title{
	@include rubik(600,1.8rem);
	color: $black-7;
	margin:0;
	margin-top: .5rem;
	margin-left: -2px;
	position: relative;
	line-height: 1.2;
	//MEDIA QUERY
	@include media($m) {
		margin: 0;
		margin-left: -2px;
	}
}
p.hp-excerpt{
	@include open(400,1rem);
	line-height: 1.6rem;
	color: $grey;
	margin: 1rem 0 1.5rem 0;
	//MEDIA QUERY
	@include media($l) {
		@include open(400,1rem);
		line-height: 1.6;
	}
}
.hp-day{
	@include open(600,.9rem);
	color: $blue;
	display: inline-block;
	margin-top: 1rem;
	
	@include media($m) {
		margin-top: .5rem;
	}
	@include media($l) {
		@include open(700,1.75rem);
		color: $black-7;
		line-height: 1em;
		padding-top: 20px;
		margin-top: 0px;
		margin-left: -4px;
	}
}
.hp-month{
	@include open(600,.9rem);
	color: $blue;
	display: inline-block;

	@include media($l) {
		display: block;
		@include open(400,.8rem);
		color: $black-7;
		text-transform: uppercase;
		letter-spacing: 2.5px;
	}
}
// --------------------------------------

// Home-Post Generic
.home-post-section{
	padding-bottom: 0rem;
	//MEDIA QUERY
	@include media($m) {
    margin-top: 100px;
  }
  @include media($l) {
    margin-top: 150px;
  }
}

.home-post-list{  }

.home-post{
	list-style: none;
	padding: 2.5rem .9rem;
	border-bottom: 1px solid $dividers;
	//MEDIA QUERY
	@include media($m) {
    padding: 5rem 0;
  }
  @include media($l) {
    padding: 6rem 0;
    min-height: 650px;
  }
	
}
.hp-image{
	@include span-columns(12);
	min-height: 20px;
	text-align: left;
	position: relative;
	transition: all .3s;

	//MEDIA QUERY
  @include media($l) {
   	text-align: center;
  }
  //
	img{
		width: 100%;
		box-shadow: $shadow;
		border-radius: $radius;
		transition: all .3s;

			//MEDIA QUERY
		  @include media($m) {
		  	width: 98%;
		   	max-width: 470px;
		  }

	}
}
.hp-image-wrap{
	display: block;
	position: relative;
	//MEDIA QUERY
  @include media($l) {
   	position: absolute;
		top: 0;
  }
  //
}
.hp-date{
	//MEDIA QUERY
  @include media($l) {
		width: 70px;
		height: 100px;
		display: block;
		text-align: center;
		position: absolute;
		bottom: -35px;
		background:white;
		border-radius: $radius;
		box-shadow: 0 10px 40px rgba(0,0,0,.15);
		border-bottom: 5px solid $blue;
		transition: box-shadow .3s, transform .3s;
		z-index: 99;
	}
}
// --------------------------------------

// Home-Post Odd
.home-post-list li:nth-child(2n+1){
	.hp-cell-container{ @include outer-container; }
  .hp-image{
		@include span-columns(12);
		//MEDIA QUERY
	  @include media($m) {
	   	@include span-columns(8);
	   	@include shift(2);
	  }
	  @include media($l) {
	   	@include span-columns(6);
	   	@include shift(0);
	   	height: 430px;
	   	position: relative;
	  }
	  //
	}
	.hp-image-wrap{
			//MEDIA QUERY
	  @include media($l) {
	   	width: 100%;
	   	margin-bottom: 0;
	  }
	  //
	}
	figure{
		position: relative;
		width: 100%;
		max-width: 470px;
		margin: 0;
		//MEDIA QUERY
		  @include media($l) {
		   	margin: 0 auto;
		  }
		  //
		.hp-date{
			display: block;
			position: relative;
			//MEDIA QUERY
		  @include media($l) {
		  	position: absolute;
		   	display: block;
		   	left: 30px;
		  }
		  //
		}
	}
	
	.hp-copyblock{
		@include span-columns(12);
		//MEDIA QUERY
	  @include media($m) {
	   	@include span-columns(8);
	   	@include shift(2);
	  }
    @include media($l) {
     	@include span-columns(6);
			@include shift(0);
			height: 430px;
			position: relative;
			// background:blue;
    }
    //
    .hp-copybox{
    	//MEDIA QUERY
    	@include media($l) {
	     	width: 400px;
	     	height: auto;
	     	position: absolute;
	     	top: 50%;
	     	left: 50%;
	     	transform: translate(-50%, -50%);
	    }
    }
	}
}
// --------------------------------------


.home-post-list li:nth-child(2n){
	.hp-cell-container{ @include outer-container; }
	  .hp-image{
     	@include span-columns(12);
			//MEDIA QUERY
		  @include media($m) {
		   	@include span-columns(8);
		   	@include shift(2);
		  }
		}
		.hp-copyblock{
    	@include span-columns(12);
			//MEDIA QUERY
		  @include media($m) {
		   	@include span-columns(8);
		   	@include shift(2);
	  	}
		}
		.hp-date{
			display: block;
		}
	}

//MEDIA QUERY
@include media($l) {
// Home-Post Even
@include direction-context(right-to-left) {
	.home-post-list li:nth-child(2n){
		width: 100%;
	  .hp-image{
     	@include span-columns(6);
     	@include shift(0);
     	height: 430px;
	   	// background:red;
	   	position: relative;
		}
		.hp-image-wrap{
			width: 100%;
		}
		figure{
			position: relative;
			width: 100%;
			max-width: 470px;
			margin: 0;
			//MEDIA QUERY
			  @include media($l) {
			   	margin: 0 auto;
			  }
			  //
			.hp-date{
				display: block;
				//MEDIA QUERY
			  @include media($l) {
			   	display: block;
			   	right: 30px;
			  }
			  //
			}
		}
		.hp-copyblock{
     	@include span-columns(6);
			@include shift(0);
			// background:blue;
			height: 430px;
			position: relative;
			.hp-copybox{
	    	//MEDIA QUERY
	    	@include media($l) {
		     	width: 400px;
		     	height: auto;
		     	position: absolute;
		     	top: 50%;
		     	left: 50%;
		     	transform: translate(-50%, -50%);
		    }
		  }
		}
	}
}
}
//
// --------------------------------------

footer.love{
	width: 100%;
	max-width: 1200px;
	height: auto;
	min-height: 0;
	text-align: center;
	margin: 0 auto;

	.footer-wrapper{
		@include rubik(300,.8rem);
		padding: 2rem 0; 
		margin: 0 auto;
		color: lighten($grey, 20);
		text-align: center;
		span{
			color: $pink;
		}
	}

}






// --------------------------------------














