//////////////////////////////////////////////////////
//HOME-POST TYPOGRAPHY
//////////////////////////////////////////////////////
h3.post-item-title {
  margin: 0;
  margin-top: .5rem;
  margin-left: -2px;
  position: relative;
  line-height: 1.2;

  &:after {
    content: '';
    display: block;
    width: 45px;
    height: 4px;
    background: transparent url('../images/ui/post-line.svg') right top no-repeat;
    border-radius: $radius;
    margin-top: .5rem;
    margin-left: 2px;
    transition: all .3s;
  }
  &:hover:after {
    background: transparent url('../images/ui/post-line.svg') left top no-repeat;
    transition: all .3s;
  }
  @include media($m) {
    margin: 0;
  }
  a {
    @include rubik(500, 1.6rem);
    color: $black-7;
    @include media($m) {
      @include rubik(500, 1.9rem);
    }

    &:hover {
      color: $black-8;
    }
    &:before {
      display: none
    }
  }
}
p.post-item-excerpt {
  @include open(400, 1rem);
  line-height: 1.6rem;
  color: $grey;
  margin: 1rem 0 2rem 0;

  @include media($l) {
    @include open(400, .9rem);
    line-height: 1.6;
  }
}
.post-item-date-day {
  @include rubik(500, .9rem);
  color: $black-3;
  display: inline-block;
  margin-top: 1rem;

  @include media($l) {
    @include open(700, 1.75rem);
    color: $black-7;
    line-height: 1em;
    padding-top: 20px;
    margin-top: 0px;
    margin-left: -4px;
  }
}
.post-item-date-month {
  @include rubik(500, .9rem);
  color: $black-3;
  display: inline-block;

  @include media($l) {
    display: block;
    @include open(400, .8rem);
    color: $black-7;
    text-transform: uppercase;
    letter-spacing: 2.5px
  }
}
//////////////////////////////////////////////////////
//GENERIC HOME-POST STYLES
//////////////////////////////////////////////////////
.post-item {
  list-style: none;
  padding: 2.5rem .9rem;
  position: relative;

  @include media($m) {
    padding: 5rem 0;
    border-bottom: none;
  }
  @include media($l) {
    padding: 6rem 0;
  }
  &:last-child {
    border-bottom: none;
  }
  &:after {
    content: '';
    width: 100%;
    height: 1px;
    background: $dividers;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    @include media($m) {
      width: 70%;
    }
    @include media($l) {
      width: 50%;
    }
  }
}
.home-post-list li {
  .post-cell-container {
    @include out-container;
  }
  .post-item-image {
    width: calc(12/12*100%);
    position: relative;

    @include media($m) {
      width: calc(8/12*100%);
      margin-left: calc(2/12*100%);
    }
    @include media($l) {
      width: calc(6/12*100%);
      margin-left: 0;
      height: 430px;
    }
  }
  .post-item-image-wrap {
    width: 100%;
    margin-bottom: 0;
  }
  figure {
    position: relative;
    width: 100%;
    max-width: 470px;
    margin: 0;
    transition: all .3s;

    &:after {
      content: '';
      width: 75%;
      height: 100%;
      position: absolute;
      display: block;
      top: 0px;
      left: 12.5%;
      background: transparent;
      z-index: 1;
      box-shadow: $shadow;
      display: none;
      transition: all .3s;

      @include media($l) {
        display: block;
      }
    }
    @include media($l) {
      margin: 0 auto;
    }
    &:hover {
      img {
        box-shadow: $shadow-hover;
      }
    }
    img {
      width: 100%;
      box-shadow: $soft-shadow;
      border: 10px solid white;
      border-radius: $radius;
      box-sizing: border-box;
      transition: all .3s;
      position: relative;
      bottom: 0;
      z-index: 1;

      @include media($m) {
        width: 98%;
        max-width: 470px;
        z-index: 2;
      }
    }
  }
  .post-item-date {
    display: block;
    position: relative;
    transition: all .3s;

    @include media($l) {
      width: 70px;
      height: 100px;
      display: block;
      text-align: center;
      position: absolute;
      bottom: -35px;
      background: white;
      border-radius: $radius;
      box-shadow: 0 10px 40px rgba(0, 0, 0, .15);
      border-bottom: 5px solid $pink;
      z-index: 99;
      transition: all .3s;
    }
  }
  .post-item-copyblock {
    width: 100%;
    position: relative;

    @include media($m) {
      width: calc(8/12*100%);
      margin-left: calc(2/12*100%);
    }
    @include media($l) {
      width: calc(6/12*100%);
      margin-left: 0;
      height: 430px;
      position: relative;
    }
    .post-item-copybox {
      @include media($l) {
        width: 400px;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
//////////////////////////////////////////////////////
//HOME POST ODD (2N+1)
//////////////////////////////////////////////////////
.home-post-list li:nth-child(2n+1) {
  .post-item-image {
    @include media($l) {
      float: left;
    }
  }
  .post-item-date {
    @include media($l) {
      left: 30px;
    }
  }
  .post-item-copyblock {
    @include media($l) {
      float: left;
    }
  }
}
//////////////////////////////////////////////////////
//HOME POST EVEN (2N)
//////////////////////////////////////////////////////
.home-post-list li:nth-child(2n) {
  .post-item-image {
    @include media($l) {
      float: right;
    }
  }
  .post-item-date {
    @include media($l) {
      right: 30px;
    }
  }
  .post-item-copyblock {
    @include media($l) {
      float: right;
    }
  }
}
