@import '../_scss/reset/_reset';
@import '../_scss/helpers/_media';
@import '../_scss/helpers/_mixins';

// ––––––––––––––Custom Styles

html {
	font-size: 100%;
	font-size: $base-typography;

	//MEDIA QUERY
	@include media($m) {
		font-size: $base-typography
	}
}
body {
	background: white
}
main {
	font-size: 1em;
	width: 100%;
	display: block;
	position: relative;
	margin: 0 auto;
	@include border-box;
	background: white;

	@include media($xxl) {
		font-size: 1.5em
	}
	//
}
::selection {
	color: white;
	background: $pink;
}
ul, ol, figure {
	@include no-space;

	li {
		@include no-space
	}
}
a{
	text-decoration: none;
}
a:visited{
	color: inherit;
}

//////////////////////////////////////////////////////
//NAVIGATION
//////////////////////////////////////////////////////

@import '../_scss/modules/generic/_navigation';
@import '../_scss/modules/banner-home';
@import '../_scss/modules/generic/banner-general';
@import '../_scss/modules/generic/banner-post';
@import '../_scss/layouts/post';




