// Breakpoints
$bp-medium: 48em; // 768px
$bp-large: 64em; // 1024px
$bp-xlarge: 90.1em; // 1441px
$bp-xxlarge: 120em; // 1920px

// Media Queries
$m: min-width $bp-medium;
$l: min-width $bp-large;
$xl: min-width $bp-xlarge;
$xxl: min-width $bp-xxlarge;


// Colors
$blacky: rgba(0,0,0,.70);
$whity: #f7f7f7;
$dividers: darken($whity,5);
$grey: rgba(0,0,0,.75);
$light-grey: rgba(0,0,0,.1);
$dark-grey: #3A3F41;

$yellow: #FFED5A;
$red: #E34C41;
$green: #20CE6A;
$blue: #6180F8;
$pink: #EDC4F7;

$blue-gradient: linear-gradient(-225deg, #6C92FE 0%, #4E5FEE 100%);


// Variables
$base-typography: 18px;
$base-typography: 20px;
$max-width: 2560px;
$radius: 2px;
$shadow: 0 10px 40px rgba(0,0,0,.1);


//Typography
@mixin smoothy{
	-webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

@mixin open($weight, $size) {
  font-family: 'Open Sans', Helvetica, sans-serif; 
  font-weight: $weight; 
  font-size: $size; 
  @include smoothy;
}

@mixin rubik($weight, $size) {
  font-family: 'Rubik', Helvetica, sans-serif; 
  font-weight: $weight; 
  font-size: $size; 
  @include smoothy;
}


//Helpers
@mixin border-box{
	box-sizing: border-box;
}

@mixin no-space{
	margin: 0;
	padding: 0;
}


