// Breakpoints
$bp-medium: 48em; // 768px
$bp-large: 64em; // 1024px
$bp-xlarge: 90.1em; // 1441px
$bp-xxlarge: 120em; // 1920px

// Media Queries
$m: min-width $bp-medium;
$l: min-width $bp-large;
$xl: min-width $bp-xlarge;
$xxl: min-width $bp-xxlarge;


// Colors
$black-9: rgba(0,0,0,.9);
$black-8: rgba(0,0,0,.8);
$black-7: rgba(0,0,0,.7);
$black-6: rgba(0,0,0,.6);
$black-5: rgba(0,0,0,.5);
$black-4: rgba(0,0,0,.4);
$black-3: rgba(0,0,0,.3);


$whity: #f7f7f7;
$dividers: darken($whity,5);
$grey: $black-7;
$light-grey: #F8FAFD;
$dark-grey: #3A3F41;

$yellow: #FFED5A;
$red: #E34C41;
$green: #20CE6A;
$blue: #576FF3;
$pink: #EDC4F7;
$brown: #E0A27B;

$blue-gradient: linear-gradient(-225deg, #4E5FEE 0%, #6C92FE 100%);
$brown-gradient: linear-gradient(-225deg, #C79362 0%, #E0A27B 100%);



// Variables
$base-typography: 20px;
$max-width: 1200px;
$radius: 4px;
$shadow: 0 10px 40px rgba(0,0,0,.1);


//Typography
@mixin smoothy{
	-webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

@mixin open($weight, $size) {
  font-family: 'Open Sans', Helvetica, sans-serif; 
  font-weight: $weight; 
  font-size: $size; 
  @include smoothy;
}

@mixin rubik($weight, $size) {
  font-family: 'Rubik', Helvetica, sans-serif; 
  font-weight: $weight; 
  font-size: $size; 
  @include smoothy;
}


//Helpers
@mixin border-box{
	box-sizing: border-box;
}

@mixin no-space{
	margin: 0;
	padding: 0;
}


