// Typography

h1{
	@include rubik(700,2rem);
	line-height: 1;
	margin: 0;
	color: $black-7;
}

h2{
	@include rubik(700,1.66rem);
	line-height: 1;
	color: $black-7;
	margin: 1em 0 .833333rem 0;
	//MEDIA QUERY
    @include media($m) {
			margin: 1.75rem 0 1.5rem 0;
    }
    //
}

h3{
	@include rubik(700,1.25rem);
	margin: 1.75rem 0 1.5rem 0;
	color: $black-7;
	margin: 0;
}

p, li{
	@include open(400,1rem);
	line-height: 1.66;
	color: $black-6;
	margin: 0 0 1.75rem 0;
}

a{
	@include rubik(400,1em);
	color: $blue;
	text-decoration: none;
	position: relative;
	transition: all .3s;
	&:hover{
		color: darken($grey, 20);
		transition: all .3s;
	}
	&:before{
		content: '';
		display: block;
		position: absolute;
		height: 1px;
		width: 0;
		bottom: 2px;
		left: 0;
		background:transparent;
		transition: all .3s;
	}
	&:hover:before{
		width: 100%;
		background:$blue;
		transition: all .3s;
	}
}

blockquote{
	margin: 3rem 0;
	p{
		@include open(500,1rem);
		padding-left: 1.5rem;
		border-left: 3px solid $dividers;
		color: lighten($grey, 5);
		font-style: italic;
	}	
}

ul{
	list-style: circle inside;
}


.extra{
	@include open(100,1rem);
}

.white{ color: white;}
.grey{color: $grey;}