// Typography

h1{
	@include rubik(700,2rem);
	line-height: 1;
	margin: 0;
	color: $black-7;
}

h2{
	@include rubik(700,1.66rem);
	line-height: 1;
	color: $black-7;
	margin: 1em 0 .833333rem 0;
	//MEDIA QUERY
    @include media($m) {
		margin: 1.75rem 0 1.5rem 0;
    }
    //
}

h3{
	@include rubik(700,1.25rem);
	margin: 1.75rem 0 1.5rem 0;
	color: $black-7;
	margin: 0;
}
h4{
	@include rubik(600,1rem);
	color: $black-5;
	margin: 0;
}

p, li{
	@include open(400,1rem);
	line-height: 1.66;
	color: $black-6;
	margin: 0 0 1.75rem 0;
}

a{
	@include rubik(400,1em);
	text-decoration: none;
	position: relative;
	transition: all .3s;
	&:hover{
		transition: all .3s;
	}
}

blockquote{
	margin: 3rem 0;

	p{
		@include open(500,1rem);
		padding-left: .5rem;
		border-left: 3px solid $dividers;
		color: lighten($grey, 5);
		font-style: italic;
		@include media($m) {
			padding-left: 1.5rem;
    }

	}	
}

ul{
	list-style: none;
	// list-style: circle inside;
}

.tip-tag{
	@include rubik(500, .9em);
  color: $dark-blue;
}


.extra{
	@include open(100,1rem);
}

.white{ color: white;}
.grey{color: $grey;}