---
layout: default
---

<header class="general-header journey-header">
  <div class="general-svg peaks-svg"></div>
  {% include navigation.html %}
  <div class="wrap-padding">
    <div class="general-claim jr-claim animated fadeInDown delay-3">
      <h1>Síguenos en nuestra aventura por el mundo<div class="before animated fadeInUp delay-5"></div><div class="after animated fadeInUp delay-5"></div></h1>
    </div>
  </div>
</header>

<section class="journey-post-section" >
  <ul class="home-post-list">
    {% for post in site.categories.post limit:25 %}
      <li class="post-item" id="{{ post.number }}" >
        <div class="post-cell-container">
          <div class="post-item-image">
            <div class="post-item-image-wrap">
              <a href="{{ post.url | relative_url }}"><figure>
                <img class="lazy" src='{{ "/images/journey/01/homepage.jpg" | replace: "01", post.number | relative_url }}' alt="{{ post.post-image-title}}" />
                <div class="post-item-date">
                  <div class="post-item-date-day">{{ post.date | date: "%d"}}</div>
                  <div class="post-item-date-month">{{ post.date | date: "%b"}}</div>
                </div>
              </figure></a>
            </div>
          </div>
          <div class="post-item-copyblock">
            <div class="post-item-copybox">
              <h3 class="post-item-title"><a href="{{ post.url | relative_url }}">{{post.title}}</a></h3>
              <p class="post-item-excerpt">{{post.excerpt}}</p>
              <a href="{{ post.url | relative_url }}" class="generic-cta">Leer Post</a>
            </div>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</section>




