---
layout: default
---

<header class="at-header">
	{% include navigation.html %}
	<div class="header-gradient dark-blue-grad">
		<div class="heading-soft"></div>
	</div>
	
	<div class="at-title animated fadeInDown delay-3">
		<a href='{{ "/viaje" | relative_url }}/#{{ page.number }}' class="at-back-mbl"><img src='{{ "/images/ui/arrows/arrow-pink-left.svg" | relative_url }}' alt="pointing arrow" data-no-retina>Back to posts</a>
		<h1 class="animated fadeIn hinge">{{ page.title }}</h1>
	</div>
	<div class="at-main-image">
		<figure class="animated fadeInUp">
			<div class="scroll-arrow" id="scroll-down">Scroll <span><img src='{{ "/images/ui/arrows/arrow-white-right.svg" | relative_url }}' alt="scroll arrow" data-no-retina ></span></div>
			<img class="at-image" src="{{ page.post-image-path | relative_url }}" alt="{{ page.post-image-title }}" />
		</figure>
	</div>
</header>
<section id="at-content" class="at-content">
	<article>
		{{ content }}
	</article>
</section>
